.list-btn {
  display: flex;
  
  @media screen and (min-width: 0px) and (max-width: 768px) {
      // align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
  // margin-right: -8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
        @media screen and (min-width: 1200px) {
          justify-content: center;
          margin-bottom: 50px;
        }
}
// .list-btn__item {
//   width: calc(100% / 3 - 8px);
//   @media screen and (min-width: 768px) {
//   }
// }





.list-btn__item {
  &:not(:last-child) {
      margin-right: 8px;
    }
  @media screen and (max-width: 768px) {
  &:not(:last-child) {
    margin-bottom: 15px;
    }
  }
  @media screen and (min-width: 480px) and (max-width: 768px) {
  &:nth-child(3)  {
    margin-right: 0;
  }
  &:nth-child(4) {
    margin-bottom: 0;
  }
  }
}

.list-btn__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background: var(--blue);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.curent2 {
  background: var(--blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  margin-bottom: -15px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  // display: flex;
  // flex-wrap: wrap;
  // margin: -15px;
}

.portfolio-list__item {
  @media screen and (max-width: 768px) {
  &:not(:last-child) {
    margin-bottom: 15px;
    }
  }  
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 3 - 30px);
    // margin: 15px;
  }
  &:hover .portfolio-list__text-img {
    transform: translateY(0%);
    opacity: 1;
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    &:first-child .portfolio-list__content {
      padding-bottom: 56px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    &:last-child {
      margin-right: 0px;
    }
  }
}


.portfolio-list__img {
    position: relative;
    overflow: hidden;
  }



.portfolio-list__text-img {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  /* overflow: auto если текст переполняет рабочее пространство, то атоматом появляется скрол. чтоб перемещатся по тексту.  */
  opacity: 0;
}

.portfolio-list__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-list__content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;  

}

.portfolio-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--heading);
}

.portfolio-list__text {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph);
  margin-top: 4px;
}
